@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);





#header1-40 .btn {
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
}
#header1-40 H1 {
  font-family: 'Oxygen', sans-serif;
}
#header1-40 P {
  font-family: 'Oxygen', sans-serif;
}
#menu-41 .brand__name {
  font-size: 16px;
}
#menu-41.navbar--stuck .navbar__section {
  background: #395259;
}
#menu-41 .brand__name a {
  font-size: 24px;
  font-family: 'Oxygen', sans-serif;
}
#menu-41 .navbar__items a {
  font-family: 'Oxygen', sans-serif;
}
#features1-42 P {
  text-align: center;
}
#features1-44 P {
  text-align: center;
  color: #ffffff;
}
#features1-44 H3 {
  color: #ffffff;
}
#msg-box5-46 .header__text {
  color: #ffffff;
}
#msg-box5-46 .header__subtext {
  color: #ffffff;
}
#msg-box5-46 .article {
  color: #ffffff;
}
#features1-47 P {
  color: #4c6972;
  text-align: center;
}
#msg-box3-48 .header .header__text {
  text-align: center;
}
#msg-box3-48 .header .header__subtext {
  text-align: center;
}
#msg-box2-50 h2 {
  color: #252525;
}
#msg-box2-50 p {
  color: #252525;
}




#content5-77 .caption h3 {
  color: #fff;
  font-size: 46px;
  font-family: 'Oxygen', sans-serif;
}
#content5-77 P {
  color: #fff;
  text-align: center;
  font-size: 21px;
  font-family: 'Oxygen', sans-serif;
}
#menu-59 .brand__name {
  font-size: 16px;
}
#menu-59.navbar--stuck .navbar__section {
  background: #395259;
}
#menu-59 .brand__name a {
  font-size: 24px;
  font-family: 'Oxygen', sans-serif;
}
#menu-59 .navbar__items a {
  font-family: 'Oxygen', sans-serif;
}
#image2-83 SMALL {
  font-size: 17px;
}
#slider2-88 H1 {
  color: #ffffff;
}





#header1-73 .btn {
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
}
#header1-73 H1 {
  font-family: 'Oxygen', sans-serif;
}
#header1-73 P {
  font-family: 'Oxygen', sans-serif;
}
#menu-74 .brand__name {
  font-size: 16px;
}
#menu-74.navbar--stuck .navbar__section {
  background: #395259;
}
#menu-74 .brand__name a {
  font-size: 24px;
  font-family: 'Oxygen', sans-serif;
}
#menu-74 .navbar__items a {
  font-family: 'Oxygen', sans-serif;
}
#features1-75 P {
  text-align: center;
}
#features1-77 P {
  text-align: center;
  color: #ffffff;
}
#features1-77 H3 {
  color: #ffffff;
}
#msg-box5-79 .header__text {
  color: #ffffff;
}
#msg-box5-79 .header__subtext {
  color: #ffffff;
}
#msg-box5-79 .article {
  color: #ffffff;
}
#features1-80 P {
  color: #4c6972;
  text-align: center;
}
#msg-box3-81 .header .header__text {
  text-align: center;
}
#msg-box3-81 .header .header__subtext {
  text-align: center;
}
#msg-box2-83 h2 {
  color: #252525;
}
#msg-box2-83 p {
  color: #252525;
}


#menu-20 .brand__name {
  font-size: 16px;
}
#menu-20.navbar--stuck .navbar__section {
  background: #000000;
}
#menu-20 .brand__name a {
  font-size: 24px;
  font-family: 'Oxygen', sans-serif;
}
#menu-20 .navbar__items a {
  font-family: 'Oxygen', sans-serif;
}
#features1-21 P {
  text-align: center;
}
#features1-23 P {
  text-align: center;
  color: #ffffff;
}
#features1-23 H3 {
  color: #ffffff;
}
#msg-box5-25 .header__text {
  color: #ffffff;
}
#msg-box5-25 .header__subtext {
  color: #ffffff;
}
#msg-box5-25 .article {
  color: #ffffff;
}
#features1-26 P {
  color: #4c6972;
  text-align: center;
}
#msg-box3-27 .header .header__text {
  text-align: center;
}
#msg-box3-27 .header .header__subtext {
  text-align: center;
}
#msg-box2-29 h2 {
  color: #252525;
}
#msg-box2-29 p {
  color: #252525;
}




#content5-92 .caption h3 {
  color: #fff;
  font-size: 46px;
  font-family: 'Oxygen', sans-serif;
}
#content5-92 P {
  color: #fff;
  text-align: center;
  font-size: 21px;
  font-family: 'Oxygen', sans-serif;
}
#menu-93 .brand__name {
  font-size: 16px;
}
#menu-93.navbar--stuck .navbar__section {
  background: #395259;
}
#menu-93 .brand__name a {
  font-size: 24px;
  font-family: 'Oxygen', sans-serif;
}
#menu-93 .navbar__items a {
  font-family: 'Oxygen', sans-serif;
}
#features1-108 .thumbnail .image img {
  max-width: 100%;
}
#image2-97 SMALL {
  font-size: 17px;
}
#image2-111 SMALL {
  font-size: 20px;
}
#image2-113 SMALL {
  font-size: 20px;
}
#image2-114 SMALL {
  font-size: 20px;
}
#msg-box3-117 .header .header__text {
  text-align: center;
}
#msg-box3-117 .header .header__subtext {
  text-align: center;
}
#msg-box3-117 .article P {
  text-align: left;
}

@media (max-width: 1350px) {
.collage{

max-width: 800px !important;
}
}

@media (max-width: 1250px) {
.collage{

max-width: 750px !important;
}
}

@media (max-width: 1150px) {
.collage{

max-width: 620px !important;
}
}

@media (max-width: 991px) {
.hero__text{
       text-align:center; 
}
.hero__subtext{
    text-align:center;
}
.collage{

max-width: 100% !important;
width:1800px; text-align:center; display:inline-block;
}
}

.btn-warning {
    border-color: #f9a527 !important;
    color: #cdaa51 !important;
    
    border-color: #cdaa51 !important;
  }

  .btn-warning:hover {
   
    background-color: #000000 !important;
    
  }

  .footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  
  margin: 0;
}

.footer-distributed h3 span{
  
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

.email {
  color: #cdaa51 !important;
  
}


.test {
  margin-top:40px;
}
.test a {
  color: #fff;
  
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: fontawesome;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  
  margin: 0 2px;
  transition: all .5s;
}

.test a p {
  color: #666;
  position: absolute;
  bottom: 0;
  left: -25px;
  right: -25px;
  padding: 5px 7px;
  z-index: -1;
  font-size: 14px;
  border-radius: 2px;
  background: #fff;
  visibility: hidden;
 
}

.test a:nth-of-type(1):before {
  content: '\f09a';
}
.test a:nth-of-type(2):before {
  content: '\f099';
}
.test  a:nth-of-type(3):before {
  content: '\f0d5';
}
.test  a:nth-of-type(4):before {
  content: '\f113';
}
.test  a:nth-of-type(5):before {
  content: '\f17d';
}
.test  a:nth-of-type(6):before {
  content: '\f1cb';
}
